In [4]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/AliceLiu17/csc448_final/alice_branch/data/combined_data.csv"
df = pd.read_csv(url)

df.head()

   label                                              email
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.shape

(8030, 2)